[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
environs = "*"
pillow = "*"
djangorestframework-stubs = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "*"
djangorestframework-simplejwt = "*"
dj-rest-auth = "*"
django-allauth = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.20"
